body {
    font-family: Arial, sans-serif;
    background-color: #282;
    padding: 20px;
}

.integral-container {
    max-width: 800px;
    margin: 0 auto;
    background: rgb(146, 106, 225);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(98, 9, 200, 0.1);
}

h1 {
    color: #050430;
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #053d0c;
    border-radius: 5px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#fungsi {
    width: 100%;
    padding: 10px;
    font-size: 1.1em;
    box-sizing: border-box;
}

.batas-group input {
    width: 100px;
    padding: 8px;
    margin-right: 20px;
}

button {
    background-color: #28a745;
    color: rgb(32, 3, 76);
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

button:hover {
    background-color: #7e1e1e;
}

.hasil-area, .visualisasi-area {
    margin-top: 25px;
    padding-top: 15px;
    border-top: 1px solid #f3f4f3;
}

#hasil-numerik {
    font-size: 1.4em;
    color: #333;
    font-weight: bold;
}